<div class="form-group">
  <label for="">Title</label>
  <input required name="title" type="text" id="title" class="form-control">
</div>

<div class="form-group">
  <label for="decription">Description</label>
  <textarea name="description" id="description" class="form-control"></textarea>
</div>

<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea name="description" id="markdown" class="form-control"></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
